{% extends "base.html.j2" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <a href="#" class="brand-logo">
      <i class="material-icons">person_pin</i>
      BreadCrumbs
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>


{% endblock %}
{% block content %}

<ul class="side-nav left-menu fixed">
    <li>
      <a class="subheader">
        My Pins
        <i class="material-icons">pin_drop</i>
      </a>
    </li>
    <!-- TODO: Render all pins in here -->
</ul>

<!-- Google Maps Container -->
<div id="map"></div>

<!-- Cancel Drop Tooltip -->
<div id="cancel-drop">
  Cancel
</div>

<!-- Create Pin Button -->
<a id="add-pin" class="btn-floating btn-large waves-effect waves-light red" >
  <i id="add-pin-icon" class="material-icons">add_location</i>
</a>


<div class="tap-target add-pin-help" data-activates="add-pin">
  <div class="tap-target-content">
    <h5>Create a pin</h5>
    <p>Place a custom pin anywhere on the map to remember a location.</p>
  </div>
</div>

<!-- Modal Structure -->
 <form class="col s12" action="pin/create" method="post">
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4 id="pin-header"> Create a Pin</h4>
     <div class="row">
     <div class="row">
       <div class="input-field col s6">
          <i class="material-icons prefix">location_on</i>
         <input id="loc-name" type="text" class="validate">
         <label for="loc-name">Location Name</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <textarea id="textarea1" class="materialize-textarea" data-length="300"></textarea>
        <label for="textarea1">Description</label>
       </div>
     </div>

   </div>
    </div>
      <div class="modal-footer">
        <input type="submit" value="Pin Me!" class="modal-action modal-close waves-effect waves-green btn-flat">
      </div>
    </div>
  </form>


{% endblock %}
