{% extends "base.html.j2" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <a href="#" class="brand-logo">BreadCrumbs</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}

<!-- Google Maps Container -->
<div id="map"></div>

<!-- Create Pin Button -->
<a id="add-pin" class="btn-floating btn-large waves-effect waves-light red" >
  <i id="add-pin-icon" class="material-icons">add</i>
</a>

{% endblock %}
