{% extends "base.html.j2" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <a href="#" class="brand-logo">
      <i id="add-pin-icon" class="material-icons">person_pin</i>
      BreadCrumbs
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}

<ul class="side-nav left-menu fixed">
    <li>
      <a class="subheader">
        My Pins
        <i class="material-icons">pin_drop</i>
      </a>
    </li>
    <!-- TODO: Render all pins in here -->
</ul>

<!-- Google Maps Container -->
<div id="map">
{% if latLng_inputted %}
    <script type="text/javascript">
        var latLng = { lat:{{ lat }}, lng:{{ lng }} };
    </script>
{% endif %}
</div>

<!-- Cancel Drop Tooltip -->
<div id="cancel-drop">
  Cancel
</div>

<!-- Create Pin Button -->
<a id="add-pin" class="btn-floating btn-large waves-effect waves-light red" >
  <i id="add-pin-icon" class="material-icons">add_location</i>
</a>

{% endblock %}
